/* ROOT STYLING */
:root {
    --backgroundColour: #000842;
    --primaryColour: #FFF4B7;
    --secondaryColour: #006A67;
    --accentColour: #003161;
}
/* GRID DEFINITION */
.gridWrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin-top: 50px;
}
/* GRID ONE FORMATTING */
.gridOne{
    display: block;
    background-color: var(--accentColour);
    margin-left: 20px;
    border-radius: 15px;
    height: 400px;
    padding: 10px;
    justify-content: center;
    align-content: center;
}
/* GRID ONE CONTENTS */
.dashHeader{
    text-align: center;
    font-size: 30px;
    margin: 5px 10px;
    background-image: linear-gradient(to left, rgb(0, 255, 115), rgb(255, 255, 0));
    background-clip: text;
    color: transparent;
}
.dashInstructions{
    font-size: 20px;
    color:#e9cf3e;
    text-align: left;
    margin: 30px;
    margin-left: 50px;
}
.finalStatement{
    list-style: none;
    margin-top: 20px;
    color:#FFF4B7;
    text-align: center;
    margin-left: -30px;
}
/* GRID TWO CONTENTS */
.gridTwo{
    display: block;
    row-gap: 30px;
}
